In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-12-12 18:46:14,-33.9258,18.4232,67.12,78,20,4.00
1,1,Danielskuil,ZA,2021-12-12 18:46:14,-28.1887,23.5395,74.50,41,50,2.51
2,2,Quang Ngai,VN,2021-12-12 18:45:54,15.1167,108.8000,69.22,90,97,6.40
3,3,Kapaa,US,2021-12-12 18:46:14,22.0752,-159.3190,75.52,79,20,1.01
4,4,Farah,AF,2021-12-12 18:46:14,32.5000,62.5000,44.47,36,5,3.31

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kapaa,US,2021-12-12 18:46:14,22.0752,-159.3190,75.52,79,20,1.01
5,5,Georgetown,MY,2021-12-12 18:45:14,5.4112,100.3354,80.89,83,40,8.01
9,9,Phatthalung,TH,2021-12-12 18:46:16,7.5000,100.0833,76.30,82,100,7.61
11,11,Kapoeta,SS,2021-12-12 18:46:16,4.7717,33.5903,84.16,25,100,9.60
12,12,Innisfail,AU,2021-12-12 18:46:17,-17.5333,146.0333,77.92,84,38,3.02
14,14,Meulaboh,ID,2021-12-12 18:46:17,4.1363,96.1285,76.51,90,85,5.44
15,15,Jacareacanga,BR,2021-12-12 18:46:17,-6.2222,-57.7528,79.12,92,100,3.04
16,16,Rikitea,PF,2021-12-12 18:46:18,-23.1203,-134.9692,77.54,75,78,9.78
21,21,Arraial Do Cabo,BR,2021-12-12 18:46:19,-22.9661,-42.0278,87.76,62,0,11.50
27,27,Ambilobe,MG,2021-12-12 18:46:21,-13.2000,49.0500,75.65,74,23,4.41

In [11]:
preferred_cities_df.count()

City_ID       151
City          151
Country       148
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3             Kapaa      US     75.52  22.0752 -159.3190
5        Georgetown      MY     80.89   5.4112  100.3354
9       Phatthalung      TH     76.30   7.5000  100.0833
11          Kapoeta      SS     84.16   4.7717   33.5903
12        Innisfail      AU     77.92 -17.5333  146.0333
14         Meulaboh      ID     76.51   4.1363   96.1285
15     Jacareacanga      BR     79.12  -6.2222  -57.7528
16          Rikitea      PF     77.54 -23.1203 -134.9692
21  Arraial Do Cabo      BR     87.76 -22.9661  -42.0278
27         Ambilobe      MG     75.65 -13.2000   49.0500

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Georgetown,MY,80.89,5.4112,100.3354,Cititel Penang
9,Phatthalung,TH,76.30,7.5000,100.0833,Ozone Resort & Pool Villa
11,Kapoeta,SS,84.16,4.7717,33.5903,Eastgate Hotel
12,Innisfail,AU,77.92,-17.5333,146.0333,Moondarra Motel
14,Meulaboh,ID,76.51,4.1363,96.1285,Kost Pria
15,Jacareacanga,BR,79.12,-6.2222,-57.7528,Casa do IanðŸ˜Ž
16,Rikitea,PF,77.54,-23.1203,-134.9692,People ThankYou
21,Arraial Do Cabo,BR,87.76,-22.9661,-42.0278,Pousada Porto Praia
27,Ambilobe,MG,75.65,-13.2000,49.0500,HÃ´tel & Restaurant DIANA Ambilobe

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""