## Deliverable 3. Create a Travel Itinerary Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Mahebourg,MU,73.69,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
1,6,Namibe,AO,71.40,broken clouds,-15.1961,12.1522,Hotel Chik Chik Namibe
2,9,East London,ZA,71.85,light rain,-33.0153,27.9116,Tu Casa
3,11,Moron,AR,79.02,broken clouds,-34.6534,-58.6198,Hotel Morón
4,14,Port Hedland,AU,87.85,scattered clouds,-20.3167,118.5667,The Esplanade Hotel

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Harper"]
vacation_end = vacation_df.loc[vacation_df["City"] =="Harper"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] =="Prestea"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] =="Axim"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] =="Takoradi"]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
167,538,Harper,LR,79.79,scattered clouds,4.375,-7.7169,Screensaver

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = [vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6]]
end = [vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6]]
stop1 = [vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6]]
stop2 = [vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6]]
stop3 = [vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6]]

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
Vacation_Directions = gmaps.directions_layer(start,end, waypoints=[stop1,stop2,stop3], travel_mode = 'DRIVING')
fig.add_layer(Vacation_Directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,538,Harper,LR,79.79,scattered clouds,4.3750,-7.7169,Screensaver
1,554,Prestea,GH,76.32,overcast clouds,5.4327,-2.1428,Garden Hill Hotel
2,589,Axim,GH,79.52,broken clouds,4.8699,-2.2405,Axim Beach Resort And Spa
3,645,Takoradi,GH,80.11,broken clouds,4.8845,-1.7554,Raybow International Hotel

In [24]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))